{
    "presets": ["env"],
    "plugins": [
        "autobind-class-methods",
        "transform-class-properties",
        "transform-export-extensions",
        "add-module-exports",
        "transform-runtime"
    ]
}